@import url(../home_style.css);



h1{
  padding: 20px;
  margin-left: 100px ;
}

.row{
  padding: 20px;
  margin: auto;
 
  justify-content: center;
  width: 95%;
  

}


.col-10{
  margin: auto ;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
  min-width: 500px;
  margin: 5px;
  
}


@media screen and (max-width : 768px){
  .col-10 {
    grid-template-columns: 1fr; 
  }
  
}